<div class="alert alert-primary" role="alert">
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="row" colspan="3" class="text-center">Libros seleccionados</th>
        </tr>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Dias</th>
        </tr>
    </thead>
    <tbody>
        {% if request.session.carrito.items %}
        {% for key, value in request.session.carrito.items %}
            <tr>
                <td>{{value.nombre}}</td>
                <td>{{value.dias}}</td>
            </tr>
        {% endfor %}    
        {% else %}
        <tr>
            <td colspan="3">
                <div class="alert alert-danger text-center"> No hay libros seleccionados</div>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
<hr>
</div>
<div class="row text-center">
    <br>
    <div class="col-6"><a href="{% url 'CLS' %}" class="buttonAnimatedCLS text-decoration-none">Limpiar</a></div>
    <div class="col-6"><a href="{% url 'solicitar_Libros' %}" class="buttonAnimated text-decoration-none">Solicitar</a></div>
</div>
